@model LMS.ViewModels.DoctorTestViewModel

@{
    ViewData["Title"] = "EditDoc";
}

<h2>Edit</h2>

<h4>Physician</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDoc">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PhysicianId" />
            <div class="form-group">
                <label asp-for="PhysicianName" class="control-label"></label>
                <input asp-for="PhysicianName" class="form-control" />
                <span asp-validation-for="PhysicianName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Doctor">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
